{% load compile_static %}
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | SilverChips</title>

        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static "favicon.ico" %}">
        <link type="text/css" rel="stylesheet" href="{% static "home/styles/home.scss"|compile %}">
        {% include "shared/scripts.html" %}
    </head>

    <body>
        {% include "home/includes/_site-navbar-wrapper.html" %}
        {% block content %}
        {% endblock %}

        {% include "home/includes/_site-footer-wrapper.html" %}
    </body>
</html>
