{% load compile_static %}
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | SilverChips</title>

        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static "favicon.ico" %}">
        {% include "home/includes/head.html" %}
        <link type="text/css" rel="stylesheet" href="{% static "home/styles/home.scss"|compile %}">
    </head>

    <body>
        {% include "home/includes/navbar.html" %}

        {% block content %}
        {% endblock %}

        {% include "home/includes/footer.html" %}
    </body>
</html>
