<div style="margin: 10px; padding: 10px; border-left: thin solid #ccc;" id="comment-{{ reply.pk }}">
  <h5>
    <button class="btn btn-warning btn-sm" id="toggle-button-{{ reply.pk }}" onclick=hide_comment_content({{ reply.pk }})>[-]</button>
    {{ reply.name }}
  </h5>

  <div id="comment-content-{{ reply.pk }}" style="word-wrap: break-word;">
    {{ reply.text }} <br/><br/>
    <a class="btn btn-secondary btn-sm" href="{% url "home:updoot" content.pk reply.pk%}">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ reply.rating }}
    </a>
    <button class="btn btn-secondary btn-sm" onclick=on_reply({{ reply.pk }})>
      <i class="fa fa-reply" aria-hidden="true"></i>  {{ reply.replies.count }}
    </button>

    <!-- Reply area -->
    <div id={{ reply.pk }}>
    </div>

    <!-- render replies -->
    {% for reply in reply.replies.all %}
      {% if reply.authorized %}

        <div style="margin-left: 30px;">
          {% include "home/comments.html" %}
        </div>

      {% endif %}
    {% endfor %}
  </div>
</div>
