{% extends "home/base.html" %}

{% load humanize %}
{% load home %}
{% load core %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ content|qualified_title }}{% endblock %}

{% block content %}
    <style>
        .comment {
            background-color: #ffffff;
            padding: 5px;
            color: #000000;
            border: 1px solid black;
        }
    </style>

  <div class="modal fade modal-lightbox" tabindex="-1" role="dialog" id="lightboxModal">
    <div class="modal-dialog modal-dialog-centered" role="document" id="lightboxModalDialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lightboxModalTitle"></h5>
        </div>
        <div class="modal-body" id="lightboxModalBody">
        </div>
        <div class="modal-footer" id="lightboxModalFooter"></div>
      </div>
    </div>
  </div>

  <div class="medium-container">
    <h1>
      {{ content|qualified_title }}
      {% if request.user %}
        {% if content.visibility != content.PUBLISHED %}
          <span class="badge badge-warning">{{ content.get_visibility_display|lower }}</span>
        {% endif %}
      {% endif %}

      {% if request.user|can_edit_content:content %}
        <a class="btn btn-primary" href="{% url "staff:content:edit" content.pk %}" target="_blank">Edit <i class="fas fa-pencil-alt"></i></a>
      {% endif %}
    </h1>
    <br/>

    {% if content.section %}
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          {% for ancestor in content.section.get_ancestors %}
            <li class="breadcrumb-item"><a href="{% url "home:view_section" ancestor.name %}" class="solid-link">{{ ancestor.title }}</a></li>
          {% endfor %}
        </ol>
      </nav>
    {% endif %}

    <div class="row mb-3">
      <div class="col-md-9">
            <span class="h5">
                <span class="text-muted">{% if content.authors.count > 0 %}By</span>
                  {% include "home/utils/authors.html" %}
                  <span class="text-muted">| {% endif %}{{ content.created }} | {{ content.created|naturaltime }}</span>
            </span>
      </div>
      <div class="col-md-3 text-right">
        <a href="https://www.facebook.com/dialog/share?display=popup&href=https://silverchips.mbhs.edu/content/{{ content.pk }}"
           target="_blank"><i class="fab fa-facebook-square fa-2x mx-1" aria-hidden="true"></i></a>
        <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20{{ content.descriptor }}%2C%20%22{{ content.title|urlencode }}%22%2C%20on%20Silver Chips%20Online%21&hashtags=Silver ChipsOnline&url=https%3A%2F%2Fsco.mbhs.edu%2Fc%2F{{ content.pk }}&via=mbhsSCO"
           target="_blank"><i class="fab fa-twitter-square fa-2x mx-1" aria-hidden="true"></i></a>
      </div>
    </div>

    {% if form %}
        <h1>Adding a Comment</h1>
        <h3>Please make sure all comments are mature and responsible; they will go through moderation.</h3>
        <form method="post">
            {% csrf_token %}
            {% crispy form form.helper %}
            <input type="submit" value="Submit" />
        </form>
    {% endif %}

    <div class="row">
      <div class="col-md-9">
        {% render_content request.user content False %}

        {% if content.created != content.modified %}
          <em>Last updated: {{ content.modified }}</em>
          <br/>
        {% endif %}

        <br/><br/>
        {% if content.tags.count > 0 %}
          <strong class="mr-3">Tags:</strong>
          {% for tag in content.tags.all %}
            <a href="{% url "home:tagged" tag.name %}" class="btn btn-outline-info" role="button"><i class="fas fa-tag"></i> {{ tag.name }}</a>
          {% endfor %}
        {% endif %}

        <hr/>

        {% for author in content.authors.all %}
          <div class="row">
            <div class="col-2">{% if author.profile.avatar %}<img src="{{ author.profile.avatar.source.url }}" class="img-fluid rounded-circle">{% endif %}</div>
            <div class="col-10">
              <p>
                <strong>{{ author.get_full_name }}.</strong>
                <span class="text-muted">{{ author.profile.biography|truncatewords:45 }}</span>
                <a href="{% url "home:view_profile" author.pk %}" class="solid-link">More &raquo;</a>
              </p>
            </div>
          </div>
        {% endfor %}

        {% if content.comment_set.all %}
            {% for comment in content.comment_set.all %}
                {% render_comment comment %}
            {% endfor %}
        {% else %}
            <p> No Comments. </p>
        {% endif %}

        {% if not form %}
            <a href="{% url "home:submit_comment" content.pk %}" class="solid-link">Add Comment</a>
        {% endif %}
      </div>

      <div class="col-md-3">
        {% if content.sidebar_template %}
          {% include content.sidebar_template %}
          <br/>
        {% endif %}

        <div class="card latest-stories">
          <div class="card-header mb-3">
            <h4 class="card-title mb-0">Latest Content</h4>
          </div>

          <ul class="list-group list-group-flush">
            {% for content_item in top_content|slice:":8" %}
              <li class="list-group-item {% if not forloop.last %}mb-1{% else %}mb-3{% endif %} ml-3">
                <div class="row">
                  <div class="col-2"><strong>{{ forloop.counter }}</strong></div>
                  <div class="col-10"><a href="{{ content_item.get_absolute_url }}" class="solid-link">{{ content_item.title|safe }}</a></div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script defer src="{% static "home/scripts/content.js" %}"></script>
{% endblock %}