{% extends "home/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container index-featured">
        <hr class="my-4">
        <h1 class="display-4 text-center">The Latest</h1>
        <hr class="my-4">
        <div class="row mb-4">
            {% for section in section_roots %}
                <div class="col-lg">
                    <div class="card">
                        {% load static %}
                        {# for testing #}
                        <img class="card-img-top" src="{% static "home/images/img_5.jpg" %}" alt="card-img">
                        <div class="card-header border-0">
                            <a class="" href="{% url "home:view_section" section.name %}"><h4 class="card-title">{{ section.title }}</h4></a>
                        </div>
                        <div class="card-body">
                            {% for story in section.all_stories.all|slice:":1" %}
                                {% include "shared/story_summary.html" with story=story %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- if last column in row, make new row -->
                {% if forloop.counter|divisibleby:"3" and not forloop.last %}
            </div><div class="row mb-4">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{# {% block content %} #}
    {# <div class="container"> #}
        {# {% for section in section_roots %} #}
            {# <div class="card"> #}
                {# <div class="card-header"> #}
                    {# <a class="solid-link" href="{% url "home:view_section" section.name %}"><h4 class="card-title">{{ section.title }}</h4></a> #}
                {# </div> #}
                {# <ul class="list-group list-group-flush"> #}
                    {# {% for story in section.all_stories.all|slice:":3" %} #}
                        {# <li class="list-group-item"> #}
                            {# {% include "shared/story_summary.html" with story=story %} #}
                        {# </li> #}
                    {# {% endfor %} #}
                {# </ul> #}
            {# </div> #}
            {# <br> #}
        {# {% endfor %} #}
    {# </div> #}
{# {% endblock %} #}
