{% extends "home/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
            {% load static %} <!-- FOR TESTING -->
            <hr class="my-4">
            {% for section in section_roots %}
                <div id="{{section.title}}" class="container index-featurette">
                    <h1 class="section-header display-4 text-center">
                        <a href="{% url "home:view_section" section.name %}">{{section.title}}</a>
                    </h1>
                    <hr class="my-4">
                    {% for story in section.all_stories.all|slice:"5" %}
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <img class="img-fluid mx-auto"
                                src="{% if forloop.counter|divisibleby:"3" %}
                                        {% static "home/images/img_2.jpg" %}
                                    {% elif forloop.counter|divisibleby:"2"  %}
                                        {% static "home/images/work_5.jpg" %}
                                    {% else %}
                                        {% static "home/images/img_4.jpg" %}
                                    {% endif %}"
                                alt="featurette-img">
                            </div>
                            <div class="col-md-8">
                                {% include "shared/story_summary.html" %}
                            </div>
                        </div>
                        {% if forloop.last %}
                            <hr class="section-separator">
                        {% else %}
                            <hr class="story-separator">
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
    </div>
{% endblock %}
{# {% block content %} #}
    {# <div class="container"> #}
        {# {% for section in section_roots %} #}
            {# <div class="card"> #}
                {# <div class="card-header"> #}
                    {# <a class="solid-link" href="{% url "home:view_section" section.name %}"><h4 class="card-title">{{ section.title }}</h4></a> #}
                {# </div> #}
                {# <ul class="list-group list-group-flush"> #}
                    {# {% for story in section.all_stories.all|slice:":3" %} #}
                        {# <li class="list-group-item"> #}
                            {# {% include "shared/story_summary.html" with story=story %} #}
                        {# </li> #}
                    {# {% endfor %} #}
                {# </ul> #}
            {# </div> #}
            {# <br> #}
        {# {% endfor %} #}
    {# </div> #}
{# {% endblock %} #}
