<style>
.sco-thumb {
  position: relative;
  width: 278px;
  height: 139px;
  overflow: hidden;
}
.sco-thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto !important;
  width: 100%;
}
</style>



<div id="silverchips">

{% for story in stories %}
    <a class="scopos" pos="{{ forloop.counter }}" href="/content/{{ story.pk }}" cap="{{ story.title }}">
        <div class="sco-thumb">
            <img src="{{ story.cover.source.url }}" id="image{{ forloop.counter }}" alt="{{ story.title }}" class="sco"/>
        </div>
    </a>
{% endfor %}
</div><div class="sco">

<div class="container">
<div class="carousel-caption" >

<h1><a href="/" style="color: #fff; text-decoration: none;">Silver Chips Online</a>: Click to see our top stories</h1>

<p class="lead"></p>

</div>

</div>
</div>

