<style>
.sco-thumb {
  position: relative;
  width: 271px;
  height: 139px;
  overflow: hidden;
}
.sco-thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  line-height: 1;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
</style>



<div id="silverchips">

{% for story in stories %}
    <a class="scopos" pos="{{ forloop.counter }}" href="https://silverchips.mbhs.edu/{{ story.pk }}" cap="{{ story.title }}">
        <div class="sco-thumb">
            <img src="https://silverchips.mbhs.edu{{ story.cover.source.url }}" id="image{{ forloop.counter }}" alt="{{ story.title }}" class="sco"/>
        </div>
    </a>
{% endfor %}
</div><div class="sco">

<div class="container">
<div class="carousel-caption" >

<h1><a href="https://silverchips.mbhs.edu" style="color: #fff; text-decoration: none;">Silver Chips Online</a>: Click to see our top stories</h1>

<p class="lead"></p>

</div>

</div>
</div>

