{% extends "home/base.html" %}

{% block title %}
    {{ user.get_full_name }}
{% endblock %}

{% block content %}
    <h1>{{ user.get_full_name }}</h1>
    <hr/>

    <div class="row">
        <div class="col-md-3">
            {% if user.profile.avatar %}
                <img class="square mx-auto d-block rounded-circle" src="{{ user.profile.avatar.source.url }}">

                <br/><br/>
            {% endif %}

            <strong>Name</strong>: {{ user.get_full_name }} <br/>
            <strong>Position</strong>: {{ user.profile.position }} <br/>
            <strong>Graduation Year</strong>: {{ user.profile.graduation_year }}
        </div>
        <div class="col-md-9">
            {{ user.profile.biography|safe }}
        </div>
    </div>

    {% if stories.count > 0 %}
        <br/><br/>
        <h2>Stories ({{ stories.count }})</h2>
        <hr/>

        {% for story in stories %}
            {% include "shared/story_summary.html" with story=story %}
        {% endfor %}
    {% endif %}

    {% if images.count > 0 %}
        <br/><br/>
        <h2>Images ({{ images.count }})</h2>
        <hr/>

        {% for image in images %}
            <h4><a href="{% url "home:view_image" image.pk %}" class="solid-link">{{ image.title|safe }}</a></h4>
            {{ image.created }}
            <p class="text-muted">{{ image.description|safe }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
