{% extends "home/base.html" %}
{% load static %}
{% load home %}
{% load imagekit %}

{% block title %}
  {{ section.title }}
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="container rounded display-3 mb-4 py-2 text-center text-uppercase section-header">{{ section.title }}</h1>

    {% for subsection, content in subsections %}
      {% reserve_content content 5 %}
      {% if new_content.count > 0 %}
        {% if subsection != section %}
          <h1 class="display-4 mb-4 py-2 text-center text-uppercase section-header"><a href="{{ subsection.get_absolute_url }}">{{ subsection.title }}</a></h1>
        {% endif %}
        {% for content in new_content %}
          <div class="row">
            <div class="col-md-3">
              {% if content|thumb %}<img class="img-fluid" src="{{ content|thumb:"large" }}"/>{% endif %}
            </div>
            <div class="col-md-9">
              {% include "home/content/summary.html" with section=subsection %}
            </div>
          </div>
          {% if not forloop.last %}<hr/>{% endif %}
        {% endfor %}
        <br/>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
