{% extends "home/base.html" %}

{% block title %}
    {{ story.title }}
{% endblock %}

{% block content %}
    {% include "home/content.html" with content=story %}

    <p class="text-muted">{{ story.lead|safe }}</p>

    <div class="row">
        <div class="col-sm-9">
            {% if story.cover %}
                <a href="{% url 'view_image' story.cover.id %}"><img src="{{ story.cover.source.url }}" id="story-cover"></a>
                <p class="small text-muted">Photo: {{ story.cover.description }}</p>
            {% endif %}

            <hr/>

            <p>{{ story.content|safe|linebreaks }}</p>

            <hr/>

            {% if story.created != story.modified %}
                Last updated: {{ story.modified }}
                <br/><br/>
            {% endif %}

            {% for author in story.authors.all %}
                <div class="row">
                    <div class="col-2"><img src="{{ author.profile.avatar.url }}" class="img-fluid rounded-circle"></div>
                    <div class="col-10"><p class="text-muted">{{ author.profile.biography }} <a href="" class="solid-link">More &raquo;</a></p></div>
                </div>
            {% endfor %}
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Top Stories</h4>
                </div>

                <ul class="list-group list-group-flush">
                    {% for top_story in stories|slice:":5" %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-2"><strong>{{ forloop.counter }}</strong></div>
                                <div class="col-10"><a href="{% url 'read_story' top_story.id %}" class="solid-link">{{ top_story.title }}</a></div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}