{% extends "home/base.html" %}

{% block content %}
    {% include "home/content.html" with content=story %}

    <p class="text-muted">{{ story.lead|safe }}</p>

    <div class="row">
        <div class="col-sm-9">
            {% if story.cover %}
                <img src="{{ story.cover.source.url }}" id="story-cover">
                <p class="small text-muted">Photo: {{ story.cover.description }}</p>
            {% endif %}

            <hr/>

            <p>{{ story.content|safe|linebreaks }}</p>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Top Stories</h4>
                </div>

                <ul class="list-group list-group-flush">
                    {% for top_story in stories %}
                        <li class="list-group-item">{{ top_story.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <hr/>

    {% if story.created != story.modified %}
        Last updated: {{ story.modified }}
        <br/><br/>
    {% endif %}
    
    <p class="greyed">{{ story.uploader.biography }}</p>
{% endblock %}