language: python
notifications:
  email: false
sudo: false
python:
  - 3.6
install:
  - pip install pipenv
  - pipenv install
  - pipenv shell
  - python manage.py makemigrations core
  - python manage.py migrate
script:
  - coverage run manage.py test
after_success:
  - codecov
