version: "3.9"
services:
    site:
        build: .
        container_name: silverchips_site
        depends_on:
            - db
        deploy:
            restart_policy:
                condition: on-failure
                delay: 10s
                max_attempts: 3
        environment:
            PYTHONUNBUFFERED: 1
        expose:
            - "8080"
        ports:
            - "8080:8080"
        stop_grace_period: 3s

    db:
        image: postgres
        container_name: silverchips_db
        environment:
            POSTGRES_USER: silverchips
            POSTGRES_PASSWORD: silverchips
        ports:
            - "5432:5432"
        stop_grace_period: 3s
        volumes:
            - type: bind
              source: ./silverchips.sql
              target: /docker-entrypoint-initdb.d/sco.sql
              read_only: true
            - type: volume
              source: scodb
              target: /var/lib/postgresql/

volumes:
    scodb:
