[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-autocomplete-light = "*"
django-forms-bootstrap = "*"
django-static-precompiler = "*"
six = "*"
pillow = "*"
django-polymorphic = "*"
"psycopg2" = "*"
gunicorn = "*"
django-crispy-forms = "*"
django-ordered-model = "*"
bs4 = "*"

[dev-packages]
ipython = "*"
pylint = "*"
"flake8" = "*"
