.navbar-wrapper {
    background: $background;
}
.navbar {
    background: $navbar;
    @include mq("desktop") {
        padding: 0 0 !important; //Desktop does not need extra padding
    };
 }
 .navbar-nav .nav-link {
     text-decoration: none;
     font-size: 0.9em;
     font-weight: bold;
     color: $undertone-secondary;

     transition: padding 1s ease;

     transition: border 0.3s ease;
     border-top: 3px solid $navbar ;
     border-bottom: 3px solid $navbar;
     &:hover {
         border-top: 3px solid white;
         border-bottom: 3px solid white;
     }
 }
 .navbar-nav .active {.nav-link{color: white}}
.navbar-wrapper-header .logo svg g {fill:$base;} //Dark on light logo
.navbar .logo svg g {fill: $undertone-secondary;} //Light on dark logo

/* Navbar Animation */
.not-scrolled {
    .logo {width: 50%;}
    .lead {height: auto; margin-bottom: 0.75rem;}
    .navbar .nav-link {padding: 10px 10px;}
}
.scrolled {
    .logo {width: 35%;}
    .lead {height: 0px; margin-bottom: 0;}
    .navbar .nav-link {padding: 4px 10px;}
}
.logo, .lead, .navbar .nav-link {
    transition: all 0.7s ease;
}
