.site-navbar-wrapper {
    .navbar {
        transition: background-color 0.5s ease;
        background: $background;
        padding-top: 1em;
        width: 100%;
        @include mq("desktop-wide") {
            background: rgba(55,55,55,0.85);
            .navbar-brand {color: $background;}
            .nav-item {.nav-link {color: $undertone-secondary;}}
            .active .nav-link {
                color: $background;
            }
        };
    }
    .navbar-brand {
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            letter-spacing: 0.2em;
            color: $base;
            font-size: 1.2em;
    }
    .navbar-nav {
            margin-left: auto;
    }
    .nav-item {
            margin-left: 0;
            margin-right: 0;
            font-size: 0.9em;
            @include mq("desktop") {
                margin-left: 5px;
                margin-right: 5px;
                font-size: 1em;
            };
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            .nav-link {
                color: $undertone;
            }
            &:hover {
                border-bottom: 2px solid $background;
            }
    }
    .active {
            .nav-link {
                color: $base;
            }
        }
        .navbar-toggler {
            background: $background;
            border-radius: 0;
            padding: 10px 20px;
    }
}
