.site-navbar-wrapper {
    background: $base;
    .navbar-header {
        transition: height 1s ease-in;
        width: 100%;
        .logo-container {
            width: 90%;
            @include mq("tablet") {width: 70%;};
            @include mq("desktop") {width: 35%;};
            padding-top: 2em;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .navbar {
        width: 100%;
        padding-top: 1em;
        @include mq("desktop-wide") {
            .navbar-brand {color: $background;}
            .nav-item {.nav-link {color: $undertone-secondary;}}
            .active .nav-link {
                color: $background;
            }
        };
    }
    .absolute-top {
        position: absolute;
        z-index: 1;
        top: 0;
    }
    .navbar-brand {
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            letter-spacing: 0.2em;
            color: $base;
            font-size: 1.2em;
    }
    .navbar-nav {
            margin-left: auto;
    }
    .nav-item {
            margin-left: 0;
            margin-right: 0;
            font-size: 0.9em;
            @include mq("desktop") {
                margin-left: 5px;
                margin-right: 5px;
                font-size: 1em;
            };
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            .nav-link {
                color: $undertone;
            }
            &:hover {
                border-bottom: 2px solid $background;
            }
    }
    .active {
            .nav-link {
                color: $base;
            }
        }
        .navbar-toggler {
            background: $background;
            border-radius: 0;
            padding: 10px 20px;
    }
}
