<footer class="site-footer-wrapper">
    <div class="site-footer-expand">
        <div class="site-footer-left">
            <h4 class="footer-logo">Silver<span>Chips</span> Online</h4>
            <p class="footer-links">
                <a href="#">Home</a> ·
                <a href="#">News</a> ·
                <a href="#">Features</a> ·
                <a href="#">Blogs</a> ·
                <a href="#">Galleries</a>
            </p>
            <p class="copyright">Silver Chips © 2018</p>
        </div>
        <div class="site-footer-center">
            <div>
    			<i class="fa fa-map-marker"></i>
    			<p><span>51 University Blvd. E.</span> Silver Spring, Maryland</p>
    		</div>
    		<div>
    			<i class="fa fa-phone"></i>
    			<p>+1 555 123456</p>
    		</div>
    		<div>
    			<i class="fa fa-envelope"></i>
    		    <p>mbhs.edu@gmail.com</p>
    		</div>
        </div>
        <div class="site-footer-right">
            <p class="footer-company-about">
    			<span>About us</span>
    			Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    		</p>
            <div class="footer-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
    			<a href="#"><i class="fab fa-linkedin"></i></a>
    		</div>
        </div>
    </div>
</footer>
