<nav id="menu" class="navbar navbar-dark bg-dark navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-items">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu-items">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand nav-link" href="{% url "home:index" %}">Silver Chips Online</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url "staff:profile" %}">{{ user.get_full_name }}</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "staff:logout" %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
