/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Playfair+Display');

/* COLOR SCHEME */
$undertone: #96962e; //PALE GOLD
$undertone-secondary: #DCD0C0; //SILK
$background: #ffffff; //PAPER
$base: #373737; //CHARCOAL
$blair: #a52714;

/* MASTHEAD/FOOTER BACKGROUND IMAGE */
$background-image: url("../images/footer_lodyas.png");

/* MIXINS */
$breakpoints: (            //   Bootstrap equivalents
    "phone":        576px, //           sm
    "tablet":       768px, //           md
    "desktop":      992px, //           lg
    "desktop-wide": 1200px //           xl
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}
