/* Themes, fonts, backgrounds, responsive breakpoints, etc */
@import "custom-settings";

/* Global */
html {
    font-size: 16px;
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: $background;
        color: $font;
        h1,h2,h3,h4,h5,h6, {
            font-family: 'Playfair Display', serif;
            margin: 0;
            font-weight: 500;
        }
    }
}

/* Separate, pseudoprenon-bootstrapian styles */
@import "imports/_navbar-styles";
@import "imports/_footer-styles";

/* Story */
.title {
    padding-bottom: 1rem;
    a {
        color: $story-title;
    }
}
.authors {
    padding-bottom: 0.5rem;
    line-height: 1.5rem;
    a {
        text-decoration: none;
        color: $author;
        font-weight: bold;
    }
}
/* Home Featurette */
.section-featurette {
    .section-header a {
        position: relative;
        color: $section-header;
        text-decoration: none;
    }
    .section-header a:before {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        content:"";
        display: block;
        width: 0;
        height: 2px;
        background: $section-header;
        transition: width 0.3s;
    }
    .section-header a:after {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        content:"";
        display: block;
        width: 0;
        height: 2px;
        background: $section-header;
        transition: width 0.3s;
    }
    .section-header a:hover:after, .section-header a:hover:before {
        width: 100%;
    }
}
.section-separator {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.story-separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
