/* Themes, fonts, backgrounds, responsive breakpoints, etc */
@import "custom-settings";

/* Global */
html {
    font-size: 16px;
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: $background;
        color: $base;
        h1,h2,h3,h4,h5,h6, {
            font-family: 'Playfair Display', serif;
            margin: 0;
            font-weight: 500;
        }
    }
}

/* Separate, pseudoprenon-bootstrapian styles */
@import "imports/_navbar-styles";
@import "imports/_footer-styles";

/* Custom card styles */
.card {
    margin-top: 4em;
    border:none;
    .card-header:first-child {
        
    }
}
