@import "login";

#menu {
  flex-shrink: 0;
}

#column-wrapper {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

#sidebar {

  padding: 0;
  margin: 0;
  background-color: darkgray;

  display: flex;
  flex-direction: column;

  .menu {

    flex-grow: 1;

    white-space: nowrap;
    color: #ccc;
    background-color: #555;
    margin-top: 0;
    box-sizing: border-box;

    padding-bottom: 1em;

    a:first-child {
      margin-top: 0.75em;
    }

    .item, .section {
      padding: 0.25em 1em;
      text-decoration: none;
      color: inherit;
      display: block;
    }

    .section {
      padding-top: 1em;
      font-weight: bold;
    }

    .item {
      cursor: pointer;
    }

    .item:hover {
      color: #ccc;
      background-color: #666;
    }

    .item.disabled:hover {
      background-color: inherit;
    }

  }

}


#content-wrapper {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  #content {
    padding: 2rem;
    overflow: auto;
    flex-grow: 1;

  }
}

#staff {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

