{% load crispy_forms_tags %}

<div
    id="{{ widget.name }}-editor"
    {% if widget.attrs.short %}style="height: 100px;"{% endif %}>
  {{ widget.value|default_if_none:""|safe }}
</div>
<input id="{{ widget.name }}" name="{{ widget.name }}" type="hidden">
<script>
  $(window).on("load", function() {
    let editor = quill("{{ widget.name }}", {{ widget.attrs.short|yesno:"true,false" }}, {{ widget.attrs.embed|yesno:"true,false" }});
    let form = document.getElementById("{{ widget.name }}").form;
    form.addEventListener("submit", function() {
      form.{{ widget.name }}.value = editor.root.innerHTML;
    })
  });
</script>