<div class="navbar-wrapper sticky-top">
    <header class="navbar-wrapper-header w-100">
        <div class="logo mx-auto py-3">
            {% include "home/includes/_logo-svg.html" %}
        </div>
        <h6 class="lead text-center d-none d-lg-block">Montgomery Blair High School's Online Student Newspaper</h6>
    </header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars" style="color:white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if request.get_full_path == "/" %} active {% endif %}">
                  <a class="nav-link mx-1" href="{% url "home:index"%}">Home</a>
                </li>
                {% for section in section_roots %}
                  <li class="nav-item {% if navbar == section.name %} active {% endif %}">
                    <a class="nav-link mx-1" href="{% url "home:view_section" section.name %}">{{ section.title }}</a>
                  </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
