<div class="site-navbar-wrapper">
    <nav class="navbar navbar-expand-xl fixed-top">
        <a class="navbar-brand" href="{% url "home:index" %}">SilverChips</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarDropdown">
            <ul class="navbar-nav">
                {% for section in section_roots %}
                  <li class="nav-item {% if navbar == section.name %} active {% endif %}">
                    <a class="nav-link" href="{% url "home:view_section" section.name %}">{{ section.title }}</a>
                  </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
