<ul class="social-media-sidebar d-none d-md-block">
    <li>
        <a target="_blank"  href="mailto:editors.sco@gmail.com">
            <i class="fas fa-envelope"></i><span>Email</span>
        </a>
    </li>
    <li>
        <a target="_blank"  href="https://www.facebook.com/SilverChipsOnline/">
            <i class="fab fa-facebook-f"></i><span>Facebook</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://twitter.com/mbhsSCO?lang=en">
            <i class="fab fa-twitter"></i><span>Twitter</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.instagram.com/silverchips_online/">
            <i class="fab fa-instagram"></i><span>Instagram</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.youtube.com/@SilverChipsOnline">
            <i class="fab fa-youtube"></i><span>Youtube</span>
        </a>
    </li>
</ul>
