{% load static %}
{% load crispy_forms_tags %}

<div class="navbar-wrapper fixed-top not-scrolled">
  <header class="navbar-wrapper-header w-100">
    {# logo for desktop #}
    <div class="d-none d-lg-flex align-items-center justify-content-center py-3">
      <img src="{% static 'home/images/turkey.jpg' %}" alt="Turkey" class="pumpkin-decoration" style="width: 60px; height: 60px; margin-right: 20px;">
      <a class="logo" href="{% url "home:index" %}"> {% include "home/includes/_logo-svg.html" %} </a>
      <img src="{% static 'home/images/turkey.jpg' %}" alt="Turkey" class="pumpkin-decoration" style="width: 60px; height: 60px; margin-left: 20px;">
    </div>

    <h6 class="lead text-center d-none d-lg-block">
      Montgomery Blair High School's Online Student Newspaper <span class="text-muted">&mdash; {{ now|date:"l, F j, Y" }}</span>
    </h6>
  </header>
  <nav class="navbar navbar-expand-lg pb-0">
    {# logo for mobile #}
    <a class="navbar-brand logo mx-auto py-3 d-lg-none" href="#"> {% include "home/includes/_logo-svg.html" %} </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item {% if section.is_root %} active {% endif %}">
          <a class="nav-link" href="{% url "home:index" %}">Home</a>
        </li>
{% for root_section, subsections in sections.items %}
  {% if not subsections %}
    <li class="nav-item {% if root_section.name == section.name %}active{% endif %}">
      <a class="nav-link" href="{% url "home:view_section" root_section.name %}">{{ root_section.title }}</a>
    {% else %}
      {% for subsection in subsections %}
        {% if not subsection.subsubsections %}
          <li class="nav-item {% if subsection.name == section.name %}active{% endif %}">
            <a class="nav-link" href="{% url "home:view_section" subsection.name %}">{{ subsection.title }}</a>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ subsection.title }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for subsubsection in subsection.subsubsections %}
                <a class="dropdown-item" href="{% url "home:view_section" subsubsection.name %}">{{ subsubsection.title }}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

	<li id="search" class="nav-item px-0">
          <a class="nav-link" data-toggle="modal" data-target="#searchModal" style="font-size: 13px;">
            <i class="fa fa-search fa-lg py-1"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
<div class="red-bar" style="background-color: #c54c3a; height: 30px; width: 100%; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; font-size: 14px; letter-spacing: 0.5px;">🎉 Celebrating Blair's 100th Anniversary 🎉</div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" id="modal-close-btn" class="fas fa-times"></button>
        <form method="get" class="modal-search-form" action="{% url "home:search_content" %}">
          <input name="q" type="text" class="modal-search-input" placeholder="Search...">
            <button class="modal-search-submit" type="submit">
              <i class="fa fa-search"></i>
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script defer src="{% static "home/scripts/navbar.js" %}"></script>
<script>
    $("#modal-close-btn").on("click", function() {
        $("#searchModal").modal("hide");
    });
</script>

