{% load staticfiles %}

<div class="navbar-wrapper fixed-top not-scrolled">
  <header class="navbar-wrapper-header w-100">
    {# logo for desktop #}
    <a class="logo mx-auto py-3 d-none d-lg-block" href="{% url "home:index" %}"> {% include "home/includes/_logo-svg.html" %} </a>

    <li id="search" class="d-none d-lg-block">
      <button class="nav-link d-inline-block mx-4" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i></button>
    </li>
    <h6 class="lead text-center d-none d-lg-block">
      Montgomery Blair High School's Online Student Newspaper <span class="text-muted">&mdash;&mdash; {{ now|date:"l, F j, Y" }}</span>
    </h6>
  </header>
  <nav class="navbar navbar-expand-lg pb-0">
    {# logo for mobile #}
    <a class="navbar-brand logo mx-auto py-3 d-lg-none" href="#"> {% include "home/includes/_logo-svg.html" %} </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item {% if section.is_root %} active {% endif %}">
          <a class="nav-link" href="{% url "home:index" %}">Home</a>
        </li>
        {% for root_section in section_roots %}
          <li class="nav-item {% if root_section.name == section.name %} active {% endif %}">
            <a class="nav-link" href="{% url "home:view_section" root_section.name %}">{{ root_section.title }}</a>
          </li>
        {% endfor %}
        <li id="search" class="nav-item d-lg-none">
          <button type="button" class="py-2 w-100 s-0" data-toggle="modal" data-target="#searchModal">Search <i class="fa fa-search"></i></button>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" id="modal-close-btn" class="fas fa-times"></button>
        <form class="modal-search-form">
          <input class="modal-search-input" type="search" placeholder="Search...">
          <button class="modal-search-submit" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script defer src="{% static "home/scripts/navbar.js" %}"></script>
<script>
    $("#modal-close-btn").on("click", function() {
        $("#searchModal").modal("hide");
    });
</script>
