<div
        id="{{ widget.name }}-editor"
        {% if widget.attrs.short %}style="height: 100px;"{% endif %}>
    {{ widget.value|default_if_none:""|safe }}</div>
<input id="{{ widget.name }}" name="{{ widget.name }}" type="hidden">
<script>
    window.addEventListener("load", function() {
        var editor = quill("#{{ widget.name }}-editor");
        var form = document.getElementById("{{ widget.name }}").form;
        form.addEventListener("submit", function() {
            form.{{ widget.name }}.value = editor.root.innerHTML;
        })
    });
</script>