{% load compile_static %}
{% load static %}

<html>
    <head>
        {% include "shared/bootstrap.html" %}
        <link type="text/css" rel="stylesheet" href="{% static 'staff/staff.scss'|compile %}">
        <title>{% block title %}Staff Site{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body id="staff">
        {% include "staff/components/menubar.html" %}

        <div id="column-wrapper">
            {% include "staff/components/sidebar.html" %}
            <div id="content-wrapper">
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
