<html>
    <head>
        {% include "shared/bootstrap.html" %}
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static 'home/home.scss' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'staff/staff.scss' %}">
        <title>{% block title %}Staff Site{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include "staff/components/menubar.html" %}
        <div class="column-wrapper">
            {% include "staff/components/writer/sidebar.html" %}
            <div id="content" class="fluid-width">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
