{% extends "staff/base.html" %}
{% load news %}

{% block title %}Content List{% endblock %}

{% block content %}
    <h1>Content List</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Visibility</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for content in content_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ content.title|safe }}</td>
                        <td>{{ content.modified|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>{{ content|names }}</td>
                        <td>{{ content.get_visibility_display|capfirst }}</td>
                        <td><a class="action-button"><i class="fas fa-eye fa-inverse fa-2x"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
