{% extends "staff/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>{{ editing }} Editor</h1>

  {% if object and object.get_absolute_url %}
      <a class="btn btn-block btn-lg btn-dark" target="_blank" href="{{ object.get_absolute_url }}">View {{ editing }} <i class="fas fa-external-link-alt"></i></a>
      <br/>
  {% endif %}

  <form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form %}
      {% crispy form form.helper %}
    {% endif %}

    {% if forms %}
      {% for one_form in forms %}
        {% crispy one_form one_form.helper %}
      {% endfor %}
    {% endif %}

    <button type="submit" class="btn btn-lg btn-success btn-block">Save <i class="fas fa-save"></i></button>
  </form>

  {% block subeditor %}
  {% endblock %}
{% endblock %}
