{% extends "staff/base.html" %}

{% block content %}
    <h2>{% block title %}Staff Dashboard{% endblock %}</h2>

    <p>Welcome, {{ request.user.get_full_name }}, to the SilverChips staff dashboard! Here's where you'll be able to access, create, review, and edit
        content on the site, as well as manage your profile and personal information.</p>

    <h3>Personal</h3>

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <a class="btn btn-info btn-lg btn-block my-3" href="">Edit Profile <i class="fas fa-user"></i></a>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a class="btn btn-info btn-lg btn-block my-3" href="{% url "staff:content:list" %}">My Content <i class="fas fa-list-ul"></i></a>
        </div>
    </div>

    <h3>Create Content</h3>

    <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <a class="btn btn-success btn-lg btn-block my-3" href="{% url "staff:content:create:story" %}">Create Story <i class="fas fa-book"></i></a>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <a class="btn btn-success btn-lg btn-block my-3" href="{% url "staff:content:create:image" %}">Create Image <i class="fas fa-camera"></i></a>
        </div>
        <!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
            <!--<a class="btn btn-success btn-lg btn-block my-3" href="">Create Audio <i class="fas fa-headphones"></i></a>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
            <!--<a class="btn btn-success btn-lg btn-block my-3" href="">Create Video <i class="fas fa-video"></i></a>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
            <!--<a class="btn btn-success btn-lg btn-block my-3" href="">Create Poll <i class="fas fa-clipboard"></i></a>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
            <!--<a class="btn btn-success btn-lg btn-block my-3" href="">Create Review <i class="fas fa-star"></i></a>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
            <!--<a class="btn btn-success btn-lg btn-block my-3" href="">Create Sports Game <i class="fas fa-trophy"></i></a>-->
        <!--</div>-->
    </div>

    <h3>User Information</h3>

    <p>Your name is {{ request.user.get_full_name }}; your username is <code>{{ request.user.username }}</code>.</p>

    <p>You belong to the following groups:</p>

    <ul>
        {% for group in request.user.groups.all %}
            <li><code>{{ group.name }}</code></li>
        {% empty %}
            <li>Sorry, you don't belong to any groups.</li>
        {% endfor %}
    </ul>

    <p>and hold the following permissions:</p>

    <ul>
        {% for permission in request.user.get_all_permissions %}
            <li><code>{{ permission }}</code></li>
        {% empty %}
            <li>Sorry, you don't have any permissions.</li>
        {% endfor %}
    </ul>
{% endblock %}
