{% load compile_static %}
{% load static %}

<html>
    <head>
        <title>Staff Login</title>
        {% include "home/includes/bootstrap.html" %}
        <link rel="stylesheet" href="{% static "staff/_login.scss"|compile %}"/>
    </head>
    <body>
        <div>
            <h1>SCO Staff Login</h1>

            <form id="login-form" method="post">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>Error:</strong> {{ error }}
                  </div>
                {% endfor %}

                <input class="form-control" type="text" name="username" placeholder="Username">
                <input class="form-control" type="password" name="password" placeholder="Password">

                <br/>

                <button class="btn btn-primary btn-block" type="submit">Login <i class="fas fa-key"></i></button>
            </form>
        </div>
    </body>
</html>
