/* Themes, fonts, backgrounds, responsive breakpoints, etc */
/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Playfair+Display");
/* COLORS */
/* MASTHEAD/FOOTER BACKGROUND IMAGE */
/* MIXINS */
/* Global */
html {
  font-size: 16px; }
  html body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #373737; }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
      font-family: 'Oswald', serif;
      margin: 0;
      font-weight: 500; }

/* Separate, pseudoprenon-bootstrapian styles */
.navbar-wrapper {
  background: #ffffff;
  margin-bottom: 2rem; }
  .navbar-wrapper-header {
    position: relative; }

.navbar {
  background: #ffffff; }
  @media only screen and (min-width: 992px) {
    .navbar {
      padding: 0 0 !important; } }

.navbar-nav .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.125rem;
  color: #000000;
  transition: padding 1s ease;
  transition: background-color, color 0.3s ease; }
  .navbar-nav .nav-link:hover {
    background-color: #c54c3a;
    color: white !important; }

.navbar-nav .active .nav-link {
  color: #c54c3a; }

.navbar-wrapper-header .logo svg g {
  fill: #373737; }

.navbar .logo svg g {
  fill: #373737; }

/* Navbar Animation */
.not-scrolled .logo {
  width: 50%; }
.not-scrolled .lead {
  height: auto;
  margin-bottom: 0.75rem; }
.not-scrolled .navbar .nav-link {
  padding: 10px 15px;
  border-bottom: 3px solid gray; }

.scrolled {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4); }
  .scrolled .logo {
    width: 30%; }
  .scrolled .lead {
    height: 0px;
    margin-bottom: 0; }
  .scrolled .navbar {
    border-bottom: 3px solid gray; }
  .scrolled .navbar .nav-link {
    padding: 4px 15px; }

.logo, .lead, .navbar .nav-link {
  transition: all 0.3s ease; }

.navbar-wrapper-header #subscribe {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100%; }
  .navbar-wrapper-header #subscribe a {
    letter-spacing: 0.125rem; }
  .navbar-wrapper-header #subscribe a:hover {
    text-decoration: none;
    text-shadow: 0 2px 8.896px #c4b59d, 0 -2px 1px #fff; }

#subscribe a {
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: bold;
  color: #c54c3a; }

.site-footer-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 4em;
  background: url("/static/home/images/footer_lodyas.png");
  background-attachment: fixed;
  color: #ffffff; }
  .site-footer-wrapper .site-footer-expand {
    height: auto;
    padding: 2em;
    background: #base; }
  .site-footer-wrapper .site-footer-left {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    vertical-align: top; }
    @media only screen and (min-width: 992px) {
      .site-footer-wrapper .site-footer-left {
        display: inline-block;
        width: 40%;
        text-align: left; } }
    .site-footer-wrapper .site-footer-left .footer-logo {
      padding: 0;
      margin: 0; }
      .site-footer-wrapper .site-footer-left .footer-logo span {
        color: #b85040; }
    .site-footer-wrapper .site-footer-left .footer-links {
      padding-top: 1.5em; }
      .site-footer-wrapper .site-footer-left .footer-links a {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 0.125rem;
        color: white; }
  .site-footer-wrapper .site-footer-center {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    vertical-align: top; }
    @media only screen and (min-width: 992px) {
      .site-footer-wrapper .site-footer-center {
        display: inline-block;
        width: 35%;
        text-align: left; } }
    .site-footer-wrapper .site-footer-center div {
      display: block;
      font-weight: bold; }
      .site-footer-wrapper .site-footer-center div .fa {
        background-color: #b85040;
        color: #ffffff;
        font-size: 25px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle; }
      .site-footer-wrapper .site-footer-center div p {
        display: inline-block;
        vertical-align: middle;
        margin: 0; }
        .site-footer-wrapper .site-footer-center div p span {
          display: block;
          font-weight: normal;
          line-height: 2;
          font-size: 0.85em; }
  .site-footer-wrapper .site-footer-right {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    vertical-align: top; }
    @media only screen and (min-width: 992px) {
      .site-footer-wrapper .site-footer-right {
        display: inline-block;
        width: 20%;
        text-align: left; } }
    .site-footer-wrapper .site-footer-right .footer-company-about {
      line-height: 20px;
      color: #f5b8b8;
      font-size: 13px;
      font-weight: normal;
      margin: 0; }
      .site-footer-wrapper .site-footer-right .footer-company-about span {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px; }
    .site-footer-wrapper .site-footer-right .footer-icons {
      margin-top: 25px; }
      .site-footer-wrapper .site-footer-right .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #b85040;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px; }
        .site-footer-wrapper .site-footer-right .footer-icons a .fab {
          margin-top: 8px; }
  .site-footer-wrapper .copyright {
    color: #e7c8c8;
    font-size: 0.85em; }

/* Featured */
.featured .featured-col {
  position: relative; }
.featured-content {
  position: absolute;
  bottom: 0; }
.featured-title {
  font-size: 1.25rem;
  color: white; }
  .featured-title:hover {
    color: #c54c3a; }
.featured-info * {
  font-size: 0.75rem;
  color: white; }
  .featured-info *:hover {
    color: #c54c3a; }

.solid-link {
  color: #373737;
  text-decoration: none; }
  .solid-link:hover {
    color: #c54c3a; }

/* Section */
.section-header {
  /* no link */
  /* link */ }
  .section-header h1 {
    color: #373737; }
  .section-header a {
    position: relative;
    color: #373737;
    text-transform: uppercase;
    text-decoration: none; }
  .section-header a:before {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #373737;
    transition: width 0.3s; }
  .section-header a:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #373737;
    transition: width 0.3s; }
  .section-header a:hover:after, .section-header a:hover:before {
    width: 100%; }

/* Breadcrumb */
.breadcrumb {
  border-radius: 0;
  background-color: #373737; }
  .breadcrumb .breadcrumb-item a, .breadcrumb .breadcrumb:after, .breadcrumb .breadcrumb-item:before {
    color: #ffffff; }

/* Story */
.title {
  padding-bottom: 1rem; }
  .title a {
    color: #373737; }

.authors {
  padding-bottom: 0.5rem;
  line-height: 1.5rem; }
  .authors a {
    text-decoration: none;
    color: #373737;
    font-weight: bold; }
    .authors a:hover {
      text-decoration: underline; }

/* Card */
.card {
  border: none;
  border-radius: 0; }
  .card .card-header {
    background-color: #373737; }
    .card .card-header .card-title {
      color: #ffffff; }
  .card .card-header:first-child {
    border-radius: 0; }

/* Latest Stories Card */
.latest-stories {
  border-left: 2px solid #373737; }
  .latest-stories .list-group:last-child .list-group-item:last-child {
    border-radius: 0; }
  .latest-stories .card-header .card-title {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem; }
  .latest-stories .list-group-item {
    border: none;
    background-color: #373737; }
    .latest-stories .list-group-item a, .latest-stories .list-group-item strong {
      color: white;
      line-height: 1.4rem;
      font-size: 0.9rem;
      font-weight: 700; }

/* Custom Separators */
.section-separator {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.story-separator {
  margin-top: 1rem;
  margin-bottom: 1rem; }
