{% extends "staff/base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head %}
    {% include "shared/quill.html" %}
{% endblock %}

{% block content %}
<h1>Story Editor</h1>
<form method="POST" onsubmit="write()">
    {% csrf_token %}

    <!-- body onload = "quill.setText('{{ form.text.value|slugify }}');" -->

    <div class="form-group">
        <label for="title">{{ form.title.label }}</label>
        {% for error in form.title.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        <input id="title" name="{{ form.title.name }}" class="form-control" type="text" placeholder="Title" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
    </div>

    <div class="form-group">
        <label for="authors">{{ form.authors.label }}</label>
        {% for error in form.authors.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        {{ form.authors }}
    </div>

    <div class="form-group">
        <label for="description">{{ form.description.label }}</label>
        {% for error in form.description.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        <div id="description-editor" style="height: 100px;">  <!-- TODO: put style in a file -->
            {% if form.description.value %}
                {{ form.description.value }}
            {% endif %}
        </div>
        <input id="description" name="description" type="hidden">
    </div>

    <div class="form-group">
        <label for="text">Story</label>
        {% for error in form.text.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        <div id="text-editor">
            {% if form.text.value %}
                {{ form.text.value }}
            {% endif %}
        </div>
        <input id="text" name="text" type="hidden">
    </div>

    <div class="form-group">
        <button class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

{{ form.media }}

<script src="/static/js/quill.js"></script>
<script type="text/javascript">
    var descriptionEditor = quill("#description-editor");
    var textEditor = quill("#text-editor");
    function write() {
      document.forms[0].description = descriptionEditor.root.innerHTML;
      document.forms[0].text = textEditor.root.innerHTML;
    }
</script>

{% endblock %}
