@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700|Droid+Serif');
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  font-weight: 500; }

h1#title {
  font-family: "UnifrakturCook", serif;
  font-size: 8vw;
  margin: 4vw 0;
  text-align: center; }

img#story-cover {
  width: 100%;
  margin-bottom: .5rem; }

a.solid-link {
  color: black; }

footer {
  margin-top: 3rem;
  padding: 1rem; }
