{% extends "staff/base.html" %}
{% load news %}

{% block title %}Content List{% endblock %}

{% block content %}
    <h1>Content List</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Visibility</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for content in content_list %}
                    <tr>
                        <th scope="row">{{ content.pk }}</th>
                        <td>{{ content.title|safe }}</td>
                        <td>{{ content.modified|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>{{ content|names }}</td>
                        <td>{{ content.get_visibility_display|capfirst }}</td>
                        <td>
                            <div class="dropdown">
                              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink{{ forloop.counter }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                              <div class="dropdown-menu" aria-labelledby="droIn 1997, another best-selling romance writer, Janet Dailey, admitted to repeatedly plagiarizing Roberts' work. The practice came to light after a reader read Roberts' Sweet Revenge and Dailey's Notorious back-to-back; she noticed several similarities and posted the comparable passages on the Internet. Calling the plagiarism "mind-boggling," Roberts sued Dailey.[8] Dailey acknowledged the plagiarism and attributed it to a psychological disorder. She admitted that both Aspen Gold and Notorious lifted heavily from Roberts' work. Both of those novels were pulled from print after Dailey's admission.[37][38] In April 1998, Dailey settled the case. Roberts donated the settlement to various literary causes including the Literacy Volunteers of America (now ProLiteracy).[8][39][40][41]

pdownMenuLink{{ foorloop.counter }}">
                                <a class="dropdown-item" href="{% url "home:view_content" content.pk %}">View <i class="fas fa-external-link-alt"></i></a>

                                {% if request.user|has_perm:"core.edit_all_content" or request.user|has_perm:"core.edit_own_content" and request.user in content.authors %}
                                <a class="dropdown-item" href="{% url "staff:content:edit" content.pk %}">Edit <i class="fas fa-edit"></i></a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                {% if content.visibility == content.DRAFT and request.user|has_perm:"core.draft_content" %}
                                  <a class="dropdown-item" href="#">Pend <i class="fas fa-thumbs-up"></i></a>
                                {% endif %}
                                {% if content.visibility < content.PUBLISHED and request.user|has_perm:"core.publish_content" %}
                                  <a class="dropdown-item" href="#">Publish <i class="fas fa-paper-plane"></i></a>
                                {% endif %}
                                {% if request.user|has_perm:"core.hide_content" %}
                                <a class="dropdown-item" href="#">Hide <i class="fas fa-eye-slash"></i></a>
                                {% endif %}
                                {% if request.user|has_perm:"core.delete_content" %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" style="color: #faa;">Delete <i class="fas fa-trash-alt"></i></a>
                                {% endif %}
                              </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
