{% extends "staff/base.html" %}
{% load news %}

{% block title %}Content List{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Content List</h1>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete content</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete content <code id="deleteTitle"></code>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind <i class="fas fa-times"></i></button>
        <button type="button" class="btn btn-danger" id="deleteButton">Delete <i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</div>

<script>
$('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var recipient = button.data('title');
  var modal = $(this);
  modal.find('#deleteTitle').text(recipient);
  $('#deleteButton').on('click', () => doApi(button.data('href'), button.data('verb')));
});

function doApi(url, verb) {
  $.ajax({
    url: url,
    method: verb,
    headers: {'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val()},
  }).done(() => location.reload());
}
</script>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Title</th>
            <th scope="col">Modified</th>
            <th scope="col">Authors</th>
            <th scope="col">Visibility</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for content in content_list %}
        <tr>
            <th scope="row">{{ content.pk }}</th>
            <td>{{ content.type }}</td>
            <td>{{ content.title|safe }}</td>
            <td>{{ content.modified|date:"SHORT_DATETIME_FORMAT" }}</td>
            <td>{{ content|names }}</td>
            <td>{{ content.get_visibility_display|capfirst }}</td>
            <td>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink{{ forloop.counter }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ foorloop.counter }}">
                        {% if request.user|can_read:content %}
                        <a class="dropdown-item" href="{% url "home:view_content" content.pk %}" target="_blank">View <i class="fas fa-external-link-alt"></i></a>
                        {% endif %}
                        {% if request.user|can_edit:content %}
                        <a class="dropdown-item" href="{% url "staff:content:edit" content.pk %}">Edit <i class="fas fa-edit"></i></a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        {% if request.user|can_pend:content %}
                        <a class="dropdown-item" href='javascript:doApi("{% url "staff:content:set_visibility" content.pk content.PENDING %}", "patch");'>Pend <i class="fas fa-thumbs-up"></i></a>
                        {% endif %}
                        {% if request.user|can_publish:content %}
                        <a class="dropdown-item" href='javascript:doApi("{% url "staff:content:set_visibility" content.pk content.PUBLISHED %}", "patch");'>Publish <i class="fas fa-paper-plane"></i></a>
                        {% endif %}
                        {% if request.user|can_hide:content %}
                        <a class="dropdown-item" href='javascript:doApi("{% url "staff:content:set_visibility" content.pk content.HIDDEN %}", "patch");'>Hide <i class="fas fa-eye-slash"></i></a>
                        {% endif %}
                        {% if request.user|can_delete:content %}
                        <div class="dropdown-divider"></div>
                        <!--<a class="dropdown-item" href="" data-pk={{ content.pk }} data-toggle="modal" data-target="#deleteModal" data-title="{{ content.title|safe }}" data-href="{% url "staff:content:delete" content.pk %}" style="color: #f55;">Delete <i class="fas fa-trash-alt"></i></a>-->
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if is_paginated %}
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1"><i class="fas fa-angle-double-left"></i> First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i> Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link"><i class="fas fa-angle-double-left"></i> First</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link"><i class="fas fa-angle-left"></i> Previous</span>
        </li>
        {% endif %}

        {% range -3 0 1 as range %}
        {% for i in range %}
        {% if page_obj.number|add:i > 0 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.number|add:i }}">
                {{ page_obj.number|add:i }}
            </a>
        </li>
        {% endif %}
        {% endfor %}

        <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">
                {{ page_obj.number }}
                <span class="sr-only">(current)</span>
            </a>
        </li>

        {% range 1 4 1 as range %}
        {% for i in range %}
        {% if page_obj.number|add:i <= page_obj.paginator.num_pages  %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.number|add:i }}">
                {{ page_obj.number|add:i }}
            </a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next <i class="fas fa-angle-right"></i></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last <i class="fas fa-angle-double-right"></i></a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next <i class="fas fa-angle-right"></i></span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">Last <i class="fas fa-angle-double-right"></i></span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
